body {
	font-family: "Roboto", sans-serif;
  width: 100%;
	margin: 0 auto;
  padding-top: 50px;
}
h1 {
    font-size: 70px;
    text-align:center;
}
a {
    font-size: 25px;
    text-align:center;
}
h2{
    font-size: 25px;
    text-align:center;
}

h3{
    font-size: 15px;
    text-align:center;
}
h4{
  font-family: "Roboto", sans-serif;
  width: 20%;
	margin: 0 auto;
  padding-top: 100px;
}

.d1{
  text-align:center;
}
.d2{
  text-align:center;
}


.btn-new {
  border-radius: 10px;
  color: rgb(129, 129, 129);
  transition: .2s linear;
  background: #b9b9b9;
  position: relative;
  top: 0;
  left: 0;
}

.btn-new:hover {
  box-shadow: 2px 2px rgb(0, 0, 0), 4px 4px #000000;
  top: -4px;
  left: -4px;
}
