.theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: transform var(--transition-time);
}

.theme-toggle:focus {
    outline: none;
}

.theme-toggle:hover {
    transform: scale(1.1);
}