*{
    margin:0;
    padding: 0;
}


body {
    height: 100vh;
    background-size: cover;
    background-position: center;

}
.Top_menu {
    display: inline-block;
}

.Logo, .Top_menu{
    display: inline-block;
}












header{
    position: fixed;
    top: 0;
    left:0;
    right:0;
    
}
#flex-container {
  display: flex;
  font-family: Consolas, Arial, sans-serif;
}

#flex-container > div {
  padding: 1rem;
}

#flex-auto {
  flex: auto;
  border: 1px solid #f00;
}

#flex-initial {
  border: 1px solid #000;
}

h1 {
    font-size: 70px;
    text-align:center;
}
h2{
    font-size: 25px;
    
}
.d1{
  text-align:center;
}
.d2{
  text-align:center;
}


.btn-new {
  border-radius: 30px;
  color: rgb(255, 251, 0);
  transition: .2s linear;
  background: #df6f07;
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  padding: 20px 20px;
}

.btn-new:hover {
  box-shadow: 2px 2px rgb(146, 1, 1), 4px 4px #000000;
  top: -4px;
  left: -4px;
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  box-sizing: border-box;
  transform: scale(1);
  transition: transform .1s ease;
  line-height: 1;
}

.blk_button_data_wrap {
  text-align: center;
}



